<label>Name</label>
<input type="text" placeholder="Enter name" class="form-control" [(ngModel)]="name">
<label>Year</label>
<input type="text" placeholder="Enter year" class="form-control" [(ngModel)]="year">
<label>Display</label>
<textarea rows="4" placeholder="Enter display" class="form-control" [(ngModel)]="display"></textarea>
<button class="btn btn-primary" (click)="Addphone()">Add</button>

<select [(ngModel)]="FilterStatus">
	<option value="XEM_TAT_CAT">Xem tat ca</option>
	<option value="CON_HANG">Xem hang con</option>
	<option value="HET_HANG">Xem hang da het</option>
</select>

<div *ngFor="let phone of arrPhone" >
	<div *ngIf="showStatus(phone.status)" class="box" [ngStyle]="{ background: phone.status ? '#2c3e50' : '#8e44ad'}">
		<h2>{{ phone.name }}</h2>
		<small>{{ phone.year }}</small>
		<p>{{ phone.display }}</p>
		<button type="button" class="btn btn-danger" (click)="Delete(phone.id)">Xoa</button>
		<button type="button" class="btn btn-info" (click)="Status(phone.id)">{{ phone.status ? 'Con hang' : 'Da het' }}</button>
	</div>
</div>
