<ng-container *ngFor="let person of arrPerson">
	<person [name]="person.name" [age]="person.age"></person>
</ng-container>
<hr>
<hr>
<hr>
<div *ngFor="let person of arrPerson">
	<person [name]="person.name" [age]="person.age"></person>
</div>
