<h3>{{ getMessage() }}</h3>
<input [(ngModel)]="txtCityName" type="text" placeholder="Enter your city" class="form-control">
<br>
<button class="btn btn-primary" (click)="getWeather()">Get weather</button>
