<div>
	<button class="btn btn-primary" (click)="xxx.value = xxx.value + 1">Tang</button>
	<button class="btn btn-danger" (click)="xxx.value = xxx.value - 1">Giam</button>
</div>

<xxx #xxx></xxx>

<div>
	<button class="btn btn-primary" (click)="onAdd()">Tang</button>
	<button class="btn btn-danger" (click)="onSub()">Giam</button>
</div>
<zzz></zzz>
