
<div *ngIf="isShowForm">
	<input class="form-control" placeholder="English" [(ngModel)]="newEn">
	<input class="form-control" placeholder="VietNam" [(ngModel)]="newVn">
	<button type="button" class="btn btn-primary" (click)="addWord()">Them tu moi</button>
</div>

<button (click)="isShowForm = true" *ngIf="!isShowForm" class="btn btn-primary">Them tu moi</button>

<div class="col-4">
	<select class="form-control" [(ngModel)]="filterStatus">
  	<option value="XEM_TAT_CA">Xem tat ca</option>
  	<option value="XEM_TU_DA_NHO">Xem tu da nho</option>
  	<option value="XEM_TU_CHUA_NHO">Xem tu chua nho</option>
	</select>
</div>

<div *ngFor="let word of arrWords" >
	<div *ngIf="getShowStatus(word.memorized)" class="block">
		<h4 [ngStyle]="{ color: word.memorized ? 'green' : 'red'}">{{ word.en }}</h4>
		<p>{{ word.vn }}</p>
		<button (click)="removeWord(word.id)" class="btn btn-danger">Xoa</button>
		<button (click)="statusWord(word.id)" class="btn btn-success">{{ word.memorized ? 'Chua thuoc' : 'Da thuoc' }}</button>
	</div>
	
</div>