<!-- <card>
	<p class="card-body">Toi la ai</p>
	<h3 class="card-header">Khoa Pham</h3>
</card>
<card>
	<h3 class="card-header">Test thanh cong</h3>
	<p class="card-body">Toi dang test ve ng-content</p>
</card>

 -->
<!-- <learn-pipe></learn-pipe> -->

<!-- <app-ip></app-ip> -->

<!-- <ip-a></ip-a> -->

<!-- <app-weather></app-weather> -->

<!-- <sign-in></sign-in> -->

<!-- <sign-up></sign-up> -->


