<form (ngSubmit)="onSubmit()" [formGroup]="formSignUp">
	<input placeholder="Email" formControlName="email">
	<br><br>
	<input type="password" placeholder="Passowrd" formControlName="password">
	<br><br>
	<div formGroupName="subject">
		<label><input type="checkbox" name="NodeJS" formControlName="nodeJS">NodeJS</label>
		<label><input type="checkbox" name="Angular" formControlName="angular">Angular</label>
		<label><input type="checkbox" name="React" formControlName="react">React</label>
	</div>
	<br><br>
	<button>Submit</button>
</form>