<input class="form-control" placeholder="Enter Username" [(ngModel)]="name" #txtUsername>

<h3 [ngStyle]="currStyle">Your name is: {{ name }}</h3>

<!-- <code> {{ txtUsername.value | json }} </code> -->

<div [class]="isHiglight ? 'circle' : 'square'"></div>
<div [ngClass]="{ circle: !isHiglight, square: isHiglight }"></div>

